<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}"><title>Inscription</title>

    <title>Inscription Administrateur</title>
</head>
<body>
    <div class="container">
        <div class="container">
            <div class="form">
                <form method="post" action="{% url 'adminRegister' %}">
                    {% csrf_token %}
                    <a href="{% url 'products' %}">Retour aux achats</a>
                    <h1>Inscription Administrateur</h1>
                    {{ form.as_p }}    
                    <button type="submit">S'inscrire</button>
                </form>
                <p class="link">Déjà inscrit ? <a href="{% url 'adminLogin' %}">Se connecter</a></p>
            </div>
        </div>      
    </div>
</body>
</html>
